*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
body{
    background-color: #f7f9fc;
    color: #333;
}
nav{
    background-color: #4caf50;
    padding: 15px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #fff;
}
nav h1{
    font-size: 20px;
    font-weight: 600;
}
nav a{
    text-decoration: none;
    color: white;
    margin-left: 15px;
    font-weight: 500;
}
header{
    text-align: center;
    padding: 60px 20px;
    background: linear-gradient(to right , #4caf50, #45a);
}
header h2{
    font-size: 32px;
    margin-bottom: 10px;
}
header p{
    font-size: 18px;
}
main{
    max-width: 900px;
    margin: 40px auto;
    padding: 20px;
    background: white;
      border-radius: 10px;
      box-shadow: 0 4px 12px rgba(0, 0, 0,1);
      text-align: center;
}
main a{
    display:inline-block;
    margin: 15px 0;
    text-decoration: none;
    color: #4caf50;
    font-weight: bold;
    transition: 0.3s;
}
main a:hover{
    color: #2e7031;
}
button{
    background: #4caf50;
    color: white;
    border: none;
    padding: 12px 25px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 8px;
    margin-top: 20px;
    transition: 0.3s;
}
button:hover{
    background:#4caf50;
    transform: scale(1.05);
}
footer{
    text-align: center;
    padding: 20px;
    margin-top: 40px;
    background: #f1f1f1;
    font-size: 14px;
    color: #555;
}
img{
    width: 500px;
    height: 200px;
    box-shadow: #333;
    box-sizing: border-box;
    border-radius: 10px;
    align-items: center;
}